package pokemon

import (
	"ccpokedex/cmd/web"
)

templ PokedexIndex() {
	@web.Base() {
		<main class="grid">
			<div>
				Pokedex Index Page
			</div>
			<section hx-get={ string(templ.URL("/web/pokemon/trends")) } hx-trigger="load" hx-swap="outerHTML"></section>
			<div class="pokedex__pokemon-variants"></div>
		</main>
	}
}
